.header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	gap: 0.5rem;
}

.header > h2 {
	font: var(--text-label-lg);
}

.header > p {
	margin-top: 0.25rem;
	font: var(--text-mn);
}

.header .tags {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;

	gap: 0.25rem;
}

.header .tag {
	height: fit-content;
	font: var(--text-mn);

	padding: 0.25rem;
}

.article {
	padding-block: 2rem;
	text-align: start;
}

.article p {
	font: var(--text-md);
}

.comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 1rem;
}

.comments > p {
	font: var(--text-label-md);
}
