.articlePreview {
	all: unset;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	height: fit-content;

	padding-block: 1rem;

	border-bottom: 1px solid var(--color-secondary);

	gap: 1rem;
}
.articlePreview > img {
	width: 5rem;
	height: 5rem;
	border-radius: 0.5rem;
}

.articleContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	min-height: 100%;

	flex: 1;

	gap: 0.5rem;
}

.articleContent .title {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;

	gap: 0.15rem;
}

.articleContent .title span {
	font: var(--text-md);
	font-weight: 600;
	flex: 1;
}

.articleContent .title .edit {
	font: var(--text-mn);
	color: green;
	padding: 1rem 0 1rem 1rem;
	text-align: start;
	background-color: transparent;

	text-align: end;
	z-index: 1;
}

.articleContent p {
	margin-top: 0.25rem;
	font: var(--text-sm);
}
.articleContent .tag {
	height: fit-content;
	font: var(--text-mn);

	padding: 0.25rem;
}

.articleContent .tags {
	display: flex;
	flex-direction: row;
	gap: 0.15rem;
	flex-wrap: wrap;
}
