.button {
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	justify-content: center;
	align-items: center;

	height: 2rem;
	width: fit-content;
	padding-inline: 1rem;

	background-color: var(--color-secondary);
	border-radius: 0.5rem;

	color: black;
	font: var(--text-sm);
	white-space: nowrap;
}

.toggle {
	color: rgb(96, 158, 55);
}

.animation {
	animation: 0.25s OnClick 0s forwards;
}

@keyframes OnClick {
	33% {
		scale: 0.85;
	}
	66% {
		scale: 1.1;
	}
	100% {
		scale: 1;
	}
}
