.header {
	width: 100%;
	height: fit-content;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 1rem;

	padding-block: 0.5rem;
}

.tags {
	width: 100%;
	overflow-x: hidden;
}

.tagScroll {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	gap: 0.5rem;

	height: 3rem;
	overflow-x: auto;
}

.userFeatures {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.userFeatures .createArticle {
	font: var(--text-sm);
	color: green;

	background-color: transparent;
}

.articleList {
	padding-block: 1rem;

	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;

	padding-bottom: 5rem;
}

.pageList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
}
