.header {
	height: 4rem;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	gap: 0.25rem;

	border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.header > h1 {
	flex: 1;
	font: var(--text-label-lg);
}

.header .button {
	font: var(--text-md);
	color: green;

	background-color: transparent;
}
